body
{
    font-family: Bahnschrift Light,Arial Narrow;
    font-size: 18px;
}
form input
{
    width:80%;
    margin:2px 20px 2px 15px;
    border:2px solid black;
    border-radius: 5px;
    padding: 2px;
    
    
}
.submit
{
    width:15%;
    font-family: Bahnschrift Light,Arial Narrow;
}
